/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    // font-family: "Open Sans", sans-serif;
    height: 100vh;
    background-color: #2c2c2c;
  }
  
  .wrapper {
    width: 1800px;
    margin: 0 auto;
  }
  
  .container {
    width: 1400px;
    margin: 0 auto;
    height: $h100;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Utils */
  a {
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
    cursor: $pointer;
    padding: 0 10px;
  }
  
  h2,
  h4 {
    color: white;
  }